.mainContainer {
    background-color: #10161d;
    width: 100%;
}

.mainContainerWhite {
    background-color: snow;
    width: 100%;
}

.line {
    height: 10px;
    background-color: #f7d13c;
}
.moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 25px;
}
